.CodeMirror {border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; border: 1px solid #ccc; }
.activeline {background: #e8f2ff !important;}
.CodeMirror-fullscreen { background-color: #FFFFFF; float: left; height: 100%; left: 0; line-height: 1em; overflow: hidden; position: absolute; top: 0; width: 100%; z-index: 99999; }
span.CodeMirror-matchhighlight { background: #e9e9e9 }
.CodeMirror-focused span.CodeMirror-matchhighlight { background: #e7e4ff; !important }
dt {
    color: #666666;
    font-family: monospace;
}