@charset "utf-8";

/* GENERAL */
body	{ color:#454545; background: #fefefe;}

/* HEADINGS */
h1,h2,h3,h4,h5,h6,h7	{ color:#444444; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, h7 a	{ color:#444444;}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, h7 a:hover	{ color:#444444;}

/* TYPOGRAPHY */
a	{ color:#00bcf2;}	
a:hover	{ color:#00bcf2;}
label	{ color: #808080;}

/* WP INSERT IMAGE */
.wp-caption	{ background: #e1e1e1; color: #444444;}

/* STENCILS */
.stencil_skate	{ background-image: url(gfx/stencils/skate.png); background-repeat: no-repeat; background-position: top center; }
.stencil_turntable	{ background-image: url(gfx/stencils/turntable.png); background-repeat: no-repeat; background-position: top center; }
.stencil_clothing	{ background-image: url(gfx/stencils/clothing.png); background-repeat: repeat; background-position: top center; }

/* HEADER-1 */
#header-1	{ border-bottom: 1px solid #eeeeee; }

#header-1 #navigation ul li:hover	{ background-color: #00bcf2;}


#header-1 #navigation ul li .menu-description	{ color: #959595;}
#header-1 #navigation ul li:hover .menu-description	{ color: #002834;}

#header-1 #navigation ul li ul li	{ background-color: #fafafa;} /* IE7+8 FIX */
#header-1 #navigation ul li ul li.odd	{ background-color: #fafafa;}
#header-1 #navigation ul li ul li.even	{ background-color: #efefef;}

#header-1 #navigation ul li ul li:hover	{ background-color: #00bcf2;}

#header-1 #navigation .has-sub-menu .top-menu-item	{ background-image: url(gfx/has_sub_menu_top.png); }
#header-1 #navigation .sub-menu .has-sub-menu	{ background-image: url(gfx/has_sub_menu_dropdown.png); }


#header-1 #navigation ul li:hover a .top-menu-item	{color: #ffffff;} /*ONLY IN THIS SKIN*/

#header-1 #navigation ul li a	{  color:#454545; }
#header-1 #navigation ul li ul li a	{  color:#454545; }

#header-1 #navigation ul li ul li:hover a	{  color:#ffffff; }
#header-1 #navigation ul li ul li:hover ul li a	{ color: #454545;}

#header-1 #navigation ul li ul li:hover ul li:hover a	{  color:#ffffff; }
#header-1 #navigation ul li ul li:hover ul li:hover ul li a	{ color: #454545;}

#header-1 #navigation ul li ul li:hover ul li:hover ul li:hover a	{  color:#ffffff; }
#header-1 #navigation ul li ul li:hover ul li:hover ul li:hover ul li a	{ color: #454545;}

#header-1 #navigation ul li ul li:hover ul li:hover ul li:hover ul li:hover a	{  color:#ffffff; }
#header-1 #navigation ul li ul li:hover ul li:hover ul li:hover ul li:hover ul li a	{ color: #454545;}

#header-1 #navigation ul li ul li:hover ul li:hover ul li:hover ul li:hover ul li:hover a	{  color:#ffffff; }
#header-1 #navigation ul li ul li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul li a	{ color: #454545;}

/* HEADER-2 */
#header-2	{ border-bottom: 1px solid #eeeeee; }
#header-2 #navigation	{ border-top: 1px solid #eeeeee; }
#header-2 #navigation li:hover	{ background-color: #00bcf2;}

#header-2 #navigation ul li ul li	{ background-color: #fafafa;} /* IE7+8 FIX */
#header-2 #navigation ul li ul li.odd	{ background-color: #fafafa;}
#header-2 #navigation ul li ul li.even	{ background-color: #efefef;}

#header-2 #navigation ul li ul li:hover	{ background-color: #00bcf2;}

#header-2 #navigation .has-sub-menu .top-menu-item	{ background-image: url(gfx/has_sub_menu_top.png); }
#header-2 #navigation .sub-menu .has-sub-menu	{ background-image: url(gfx/has_sub_menu_dropdown.png); }


#header-2 #navigation ul li a	{  color:#454545; }
#header-2 #navigation ul li:hover a	{  color:#ffffff;}
#header-2 #navigation ul li:hover ul li a	{  color:#454545;}

#header-2 #navigation ul li ul li:hover a	{  color:#ffffff; }
#header-2 #navigation ul li ul li:hover ul li a	{ color: #454545;}

#header-2 #navigation ul li ul li:hover ul li:hover a	{  color:#ffffff; }
#header-2 #navigation ul li ul li:hover ul li:hover ul li a	{ color: #454545;}

#header-2 #navigation ul li ul li:hover ul li:hover ul li:hover a	{  color:#ffffff; }
#header-2 #navigation ul li ul li:hover ul li:hover ul li:hover ul li a	{ color: #454545;}

#header-2 #navigation ul li ul li:hover ul li:hover ul li:hover ul li:hover a	{  color:#ffffff; }
#header-2 #navigation ul li ul li:hover ul li:hover ul li:hover ul li:hover ul li a	{ color: #454545;}

#header-2 #navigation ul li ul li:hover ul li:hover ul li:hover ul li:hover ul li:hover a	{  color:#ffffff; }
#header-2 #navigation ul li ul li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul li a	{ color: #454545;}

#header-2 .contact_holder { color: #666666;}

/* HEADER-3 */
#header-3	{ border-bottom: 1px solid #eeeeee; }

.menu_navigation_bg	{border-bottom:1px solid #eeeeee;}
.menu_navigation_bg_container { background: rgb(255,255,255); background: rgba(255,255,255,0.95);}

#header-3 .sub-menu	{ border-top: 1px solid #eeeeee; }
#header-3 .sub-menu a	{ border-left: 1px solid #eeeeee;}

#header-3 #navigation ul li:hover	{ background-color: #00bcf2;}

#header-3 #navigation ul li .menu-description	{ color: #959595;}
#header-3 #navigation ul li:hover .menu-description	{ color: #002834;}

#header-3 #navigation ul li ul li:hover	{ background-color: transparent;}

#header-3 #navigation .has-sub-menu .top-menu-item	{ background-image: url(gfx/has_sub_menu_top.png); }
#header-3 #navigation .sub-menu .has-sub-menu	{ background-image: url(gfx/has_sub_menu_dropdown.png); }

#header-3 #navigation ul li:hover a .top-menu-item	{color: #ffffff;} /*ONLY IN THIS SKIN*/

#header-3 #navigation ul li a	{  color:#454545; }
#header-3 #navigation ul li ul li a	{  color:#959595; }

#header-3 #navigation ul li ul li:hover a	{  color:#232323; }
#header-3 #navigation ul li ul li:hover ul li a	{ color: #959595;}

/* SLIDER-1 */
#slider-1 .cube_left_arrow	{background:url(gfx/slider_4_left_arrow.png); background-repeat: no-repeat; background-position: left center; opacity: 0.2;}
#slider-1 .cube_left_arrow:hover	{ opacity: 0.7;}
#slider-1 .cube_button_left	{}

#slider-1 .cube_right_arrow	{background:url(gfx/slider_4_right_arrow.png); background-repeat: no-repeat; background-position: right center; opacity: 0.2;}
#slider-1 .cube_right_arrow:hover	{ opacity: 0.7;}
#slider-1 .cube_button_right	{ }

#slider-1 .info_line	{ }
#slider-1 .info_line a	{ color: #ffffff; background-image: url(gfx/black_75.png);}
#slider-1 .info_line a:hover	{ background: #00bcf2;}

#slider-1 .slider_nav	{ background-image: url(gfx/slider_nav_bg.png);}
#slider-1 .slider_nav li	{ background-image:url(gfx/slider_1_nav_li.png);}
#slider-1 .slider_nav li.slider_nav_active, #slider-1 .slider_nav li:hover	{ background-image:url(gfx/slider_1_nav_li_active.png);}

/* SLIDER-2 */
#slider-2 .cube_left_arrow	{background:url(gfx/slider_6_left_arrow.png); background-repeat: no-repeat; background-position: left center; opacity: 0.4;}
#slider-2 .cube_left_arrow:hover	{ opacity: 1;}
#slider-2 .cube_button_left	{}

#slider-2 .cube_right_arrow	{background:url(gfx/slider_6_right_arrow.png); background-repeat: no-repeat; background-position: right center; opacity: 0.4;}
#slider-2 .cube_right_arrow:hover	{ opacity: 1;}
#slider-2 .cube_button_right	{ }

#slider-2 .info_line	{ }
#slider-2 .info_line a	{ background: #00bcf2; color: #ffffff;}
#slider-2 .info_line a:hover	{ }

/* SLIDER-3 */
#slider-3 ul li .slide_name	{ color: #353535;}
#slider-3 ul li .slide_more	{ color: #959595;}

/* CONTENT */
#content_wrapper	{ }

/* MESSAGE */
.message	{ border-top: 1px solid #eeeeee; }
.message_bottom_line	{ border-top: 1px solid #eeeeee;}
.message a	{ background: #00bcf2; color: #ffffff;}
.message a:hover	{ background: #444444;}

/* HOMEPAGE */
#home_widget_area h2	{ color: #959595; }

/* POST COMMENTS */
.comments_number	{ border-bottom: 1px solid #eeeeee;}
.commentlist	{ }
.commentlist .comment_wrapper	{ border-bottom:1px solid #eeeeee; }
.commentlist .comment_wrapper .comment_author	{ color:#444444;}
.commentlist .comment_wrapper .comment_author a	{ color:#444444;}
.commentlist .comment_wrapper .comment_author a:hover	{ color:#00bcf2;}
.commentlist .comment_wrapper .comment-reply-link	{ color:#ffffff; background: #00bcf2; }
.commentlist .comment_wrapper .comment_approval	{ background: #ffff00; color: #444444;}
.commentlist .comment_wrapper .comment-reply-link:hover	{ background: #444444;}

/* COMMENT FORM */
#comment_form	{ }
#comment_form input	{ background: #e1e1e1;}
#comment_form textarea	{ background: #e1e1e1;}
#comment_form .submit_comment	{ background-color: #00bcf2; color:#ffffff;} 
#comment_form .submit_comment:hover	{background: #444444;}
#comment_form .cancel-comment-reply a	{ color: #00bcf2;}

/* WIDGETS */
ul.tweets li	{ background:#e1e1e1; color: #606060;}
ul.tweets li:after	{ border-color:#e1e1e1 transparent transparent; }
ul.tweets li a	{}

/* CONTACT FORM */
#contact_form_wrapper	{ border-top:1px solid #eeeeee; }
#contact_form input	{ background: #e1e1e1;}
#contact_form textarea	{ background: #e1e1e1;}
#contact_form .submit_contact	{ background-color: #00bcf2; color:#ffffff;}
#contact_form .submit_contact:hover	{background: #444444;}

/* PAGINATION */
.fresh-pagination .current	{ background: #00bcf2; color: #ffffff; }
.fresh-pagination .page		{background: #e1e1e1; color: #959595;}
.fresh-pagination .previouspostslink	{ background: #e1e1e1; color: #959595;}
.fresh-pagination .nextspostslink		{ background: #e1e1e1; color: #959595;}
.fresh-pagination .page:hover, .previouspostslink:hover, .nextspostslink:hover	{ background: #00bcf2; color: #ffffff;}

/* FOOTER 1 */
#footer1_container	{ background: #f1f1f1;}
#footer1_wrapper	{ }
#footer1 .footer1_top_line	{ /*border-top:1px solid #eeeeee;*/}
#footer1 a	{ color:#333333;}
#footer1 a:hover	{ color:#00bcf2;}

#footer1 .footer_widget h2, #footer1 .footer_widget h2 a	{ color: #959595;}

#footer1 #widget_contact input, #footer1 #widget_contact textarea {background: #e1e1e1;}
#footer1 #widget_contact #fc_submit { background: #00bcf2;}
#footer1 #widget_contact #fc_submit:hover { background: #444444;}

/* FOOTER 2 */
#footer2_container	{ background: #f1f1f1;}
#footer2_wrapper	{ }
#footer2	{ border-top:1px solid #e1e1e1; color: #959595; }
#footer2 .footer2_search_input	{color: #959595; background: none;}
#footer2 .footer2_search_button { background-image: url(gfx/footer2_search.png) }

/* BLOG+PORTFOLIO SINGLE VIEW - GENERAL STYLING */
.post_meta h2 { color: #959595;}
.post_info_single	{ color: #959595;}
.post_info_single a	{ color: #444444;}
.post_info_single a:hover	{ color: #00bcf2;}

/* BLOG CATEGORY - GENERAL STYLING */
#post_area	{}
#cat_title {border-bottom:1px solid #eeeeee;}
#cat_title p { color: #959595;}
.post_info span	{ border-right:1px solid #CCC; color: #959595}
.post_info a	{ color:#444444; }
.post_info a:hover	{ color:#00bcf2;}
.post_info span:last-child	{ border:none; }

#cat_title h1 a:hover	{ background: #00bcf2; color: #ffffff;}
.post_title a:hover	{ background: #00bcf2; color: #ffffff;}
.more-link	{  color: #ffffff; background: #00bcf2;}
.more-link:hover	{background: #444444; color: #ffffff;}

.sidebar a	{ color:#333333;}
.sidebar a:hover	{ color:#00bcf2;}
.sidebar .widget h2, .sidebar .widget h2 a	{ color: #959595;}

/*

PORTFOLIO TEMPLATES

*/

/* portfolio-cat-1 */
#portfolio-cat-1 #cat_title {border-bottom:1px solid #eeeeee;}
#portfolio-cat-1 .post_title	{color: #444444;}

/* portfolio-cat-2 */
#portfolio-cat-2 #cat_title {border-bottom:1px solid #eeeeee;}
#portfolio-cat-2 .post_title	{color: #444444;}

/* portfolio-cat-3 */
#portfolio-cat-3 #cat_title {border-bottom:1px solid #eeeeee;}
#portfolio-cat-3 .post_title	{color: #444444;}

/* portfolio-cat-4 */
#portfolio-cat-4 #cat_title {border-bottom:1px solid #eeeeee;}
#portfolio-cat-4 .post_title	{color: #444444;}

/* portfolio-cat-5 */
#portfolio-cat-5 #cat_title {border-bottom:1px solid #eeeeee;}
#portfolio-cat-5 .post_title	{color: #444444;}

/* portfolio-cat-6 */
#portfolio-cat-6 #cat_title {border-bottom:1px solid #eeeeee;}
#portfolio-cat-6 .post_title	{color: #444444;}

/* portfolio-cat-7 */
#portfolio-cat-7 #cat_title {border-bottom:1px solid #eeeeee;}
#portfolio-cat-7 .post_title	{color: #444444;}

/* portfolio-cat-8 */
#portfolio-cat-8 .post_title	{}
#portfolio-cat-8 .post_title, #portfolio-cat-8 .post_title a	{color: #444444;}

/* portfolio-cat-9 */
#portfolio-cat-9 .post_title	{}
#portfolio-cat-9 .post_title, #portfolio-cat-9 .post_title a	{color: #444444;}

/* portfolio-cat-10 */
#portfolio-cat-10 .post_title	{}
#portfolio-cat-10 .post_title, #portfolio-cat-10 .post_title a	{color: #444444;}

/* portfolio-cat-11 */
#portfolio-cat-11 .post_title	{}
#portfolio-cat-11 .post_title, #portfolio-cat-11 .post_title a	{color: #444444;}

/* portfolio-cat-12 */
#portfolio-cat-12 .post_title	{}
#portfolio-cat-12 .post_title, #portfolio-cat-12 .post_title a	{color: #444444;}

/* portfolio-cat-13 */
#portfolio-cat-13 .post_title	{}
#portfolio-cat-13 .post_title, #portfolio-cat-13 .post_title a	{color: #444444;}

/* portfolio-cat-14 */
#portfolio-cat-14 .post_title	{}
#portfolio-cat-14 .post_title, #portfolio-cat-14 .post_title a	{color: #444444;}

/* SIDEBAR */
.recentcomments	{ background-image: url(gfx/icon_comment.png);}
.recentcomments a	{ color: #333333;}
.recentcomments a:hover	{ color: #00bcf2;}

.widget_categories ul li	{ color: #959595;}
.widget_categories ul li a	{ color: #333333;}

#wp-calendar	{ color: #959595;}
#wp-calendar caption	{ color: #959595;}
#wp-calendar thead tr th	{ color: #333333;}
#wp-calendar tbody tr td a	{ color: #333333;}
#wp-calendar tbody tr td a:hover	{ color: #00bcf2;}

#searchform	#s	{background: #e1e1e1; color: #454545;}
#searchform	#searchsubmit	{ background: #00bcf2; color: #ffffff;}
#searchform	#searchsubmit:hover	{ background: #444444; color: #ffffff;}

#widget_contact input, #widget_contact textarea	{ background: #e1e1e1; color: #454545;}
#widget_contact	#fc_submit	{ background: #00bcf2; color: #ffffff;}
#widget_contact	#fc_submit:hover	{ background: #444444; color: #ffffff;}

.fresh_recent_posts_title	{ color: #333333;}
.fresh_recent_posts_title:hover	{ color: #00bcf2;}
.fresh_recent_posts li .fresh_recent_posts_date	{ color: #959595;}

.tagcloud a	{ background: #00bcf2; color: #ffffff !important;}
.tagcloud a:hover	{ background: #444444; color: #ffffff !important;}

/* SHORTCODES */
blockquote	{ background: #e1e1e1; color: #606060;}
pre	{ background: #e1e1e1; color: #606060;}
code	{ background: #e1e1e1; color: #606060;}

/* SHORTCODES - BUTTONS */
.btn_a	{  color: #ffffff; background: #00bcf2;}
.btn_a:hover	{background: #444444; color: #ffffff;}

/* SHORTCODES - BOXES */
.box_download	{ background-image:url(gfx/icons/arrow_down.png); background-color: #00bcf2; color: #ffffff;}
.box_info	{ background-image:url(gfx/icons/info_button_32.png); background-color: #00bcf2; color: #ffffff;}
.box_warning	{ background-image:url(gfx/icons/close_32.png); background-color: #00bcf2; color: #ffffff;}
.box_note	{ background-image:url(gfx/icons/notebook.png); background-color: #00bcf2; color: #ffffff;}

/* SHORTCODES - PULLQUOTES */
.pullquote_left	{ border-left:6px solid #eeeeee;}
.pullquote_right	{ border-right:6px solid #eeeeee;}

/* SHORTCODES - HIGHLIGHTS */
.highlight1	{ background:#00bcf2; color: #ffffff;}
.highlight2	{ border-bottom:1px dotted #00bcf2;}

/* SHORTCODES - HIGHLIGHTS */
.sc_divider	{ border-top:1px solid #eeeeee;}
.top a	{color:#959595;}
.top a:hover	{ color:#00bcf2;}

/* SHORTCODES - TABS */
.sc_tab	{ color:#959595; background: #d0d0d0;}
.sc_tab:hover	{ color:#454545;}
.sc_tab_active	{ color:#454545; background: #e1e1e1;}
.sc_tab_single_box	{ background:#e1e1e1;}

/* SHORTCODES - TOGGLE */
.toggle	{ background-image:url(gfx/toggle.png); }
.toggle_active	{ background-image:url(gfx/toggle.png);}

/* LOGO FOOTER - INSIDE TEXT WIDGET */
/*
Use this html code inside your text widget:
<a href="http://www.LINKTOYOURHOMEPAGEFOREXAMPLE.com" class="logo_footer"></a>
Make sure you also edit the width and height to fit your logo, you can do so in global.css:
*/
.logo_footer	{ background-image: url(gfx/logo_footer.png);}

/* LIVE PREVIEW */
.livepanel_wrapper .style_holder { border-right: 1px solid #202020; background: #000000; background: rgba(30,30,30,0.98);}

.livepanel_wrapper .livepanel_button	{ background-image: url(gfx/icons/live_colorwheel.png); background-color: #000000; background-color: rgba(30,30,30,0.98); border-top: 1px solid #202020; border-right: 1px solid #202020; border-bottom: 1px solid #202020; border-left: 1px solid #212121;}
.livepanel_wrapper_active .livepanel_button	{ background-image: url(gfx/icons/live_close.png);}

.livepanel_wrapper h7	{ border-top: 1px solid #202020; color: #ffffff;}
.livepanel_wrapper label	{ color: #909090;}

.livepanel_wrapper .live_button_left	{background: #555555; color: #dddddd;}
.livepanel_wrapper .live_button_left:hover	{background: #00bcf2; color: #ffffff;}

.livepanel_wrapper .live_button_right	{ background: #555555; color: #dddddd;}
.livepanel_wrapper .live_button_right:hover	{ background: #00bcf2; color: #ffffff;}

.livepanel_wrapper #live_reset_wrapper	{ border-top: 1px solid #202020; border-left: 1px solid #202020;}
.livepanel_wrapper #live_reset	{ background: #00bcf2; color: #ffffff;}
.livepanel_wrapper #live_reset:hover	{ background: #666666; color: #212121;}

.livepanel_wrapper #live_google_fonts_wrapper, .livepanel_wrapper #live_reset_wrapper	{ border-bottom: 1px solid #202020;}