/*#sidebar-1 { width:240px; float:right; padding: 120px 10px 0 10px; }
#sidebar-1 ul	{ list-style:none;}
#sidebar-1 a	{ text-decoration:none; }
#sidebar-1 .widget	{ margin: 0 10px 40px 10px; width: 220px;  float: left;}
#sidebar-1 .widget_category	{ width: 100px; }
#sidebar-1 .widget h2	{ font-weight: bold; margin: 0 0 20px 0;}