/*#sidebar-2 	{ width:220px; float:left; padding: 120px 10px 0 10px; }
#sidebar-2  ul	{ list-style:none;}
#sidebar-2  a	{ text-decoration:none; }
#sidebar-2  .widget	{ margin: 0 10px 19px 10px; width: 200px;  float:left;}
#sidebar-2  .widget_category	{ width: 90px; }
#sidebar-2  .widget h2	{ font-weight: bold; margin: 0 0 17px 0;}