:host {
      background: red;
      width: 200px;
      height: 200px;
      margin: 16px;
      border-radius: 2px;
      display: block;
      float: left;
      cursor: pointer;
    }

:host:hover{
  
}
