@charset "utf-8";

#blog-single-4 .post_title	{ padding-right:10px; padding-bottom: 40px; padding-left:250px; }
#blog-single-4 .post_title h1	{ padding: 0; }

#blog-single-4 #post_area	{ width:720px; float:right; }

#blog-single-4 #post_wrapper	{ padding-top: 0; }
#blog-single-4 #post_wrapper .post_content	{ width: 460px; float:right; padding-right: 10px; padding-left: 10px; } 

#blog-single-4 #post_wrapper .post_meta	{ width:240px; float: left;}
#blog-single-4 #post_wrapper .post_meta .post_gallery	{  }

#blog-single-4 .big_image_wrapper { display: block; margin-right: 10px; margin-left: 10px; margin-bottom: 40px; }
#blog-single-4 img.big_image	{ display: block; }
#blog-single-4 .post_meta .post_gallery .small_image_wrapper { }
#blog-single-4 .post_meta .post_gallery img.small_image	{ }

#blog-single-4 #post_wrapper .post_meta .post_info_single	{ }
#blog-single-4 #post_wrapper .post_meta .post_info_single span	{ }

#blog-single-4 .sidebar	{ padding-top: 0; }



/* POST *//*
#blog-single-4 #post_title	{ padding: 0 20px 0 20px; width:689px; }
#blog-single-4 #post_title h1	{ width:699px; padding: 58px 0 37px 0; font-size: 24px; line-height:24px;}
#blog-single-4 #post_title h1 a	{ text-decoration:none;}

#blog-single-4 #post_area	{width:739px; float:right; padding: 0; }

/* POST CONTENT *//*
#blog-single-4 #post_wrapper	{ padding:0px;}
#blog-single-4 #post_wrapper .post_content	{ width: 459px; float:right; padding: 0 20px 32px 0; }
#blog-single-4 #post_wrapper .post_meta	{ width:240px; float: left; padding:0 0 30px 10px;}
#blog-single-4 #post_wrapper .post_meta .post_gallery	{ padding: 2px 0 0px 0; }
#blog-single-4 .big_image_wrapper { display: block; margin: 2px 10px 27px 10px;}
#blog-single-4 #post_wrapper .post_meta .post_gallery img.big_image	{display:block;}
#blog-single-4 #post_wrapper .post_meta .post_gallery img.small_image	{margin: 10px; float:left; display:block;}
#blog-single-4 #post_wrapper .post_meta .post_info	{ padding: 0 0 0 10px; font-size:10px; }
#blog-single-4 #post_wrapper .post_meta .post_info span	{ width:230px; display:block;}