/* MAIN */
#wpbody	{position:relative;}

#freshcategory	{ padding: 10px 0 0 4px; margin-left: 300px;}
#freshcategory img.waiting	{display:none;vertical-align:middle;}

/* LEFT COLUMN */
#freshcategory #left-column	{display:inline;width:281px;margin-left:-300px;clear:both;float:left;}

#freshcategory .postbox h3 {cursor: default;}
#freshcategory .postbox h3.postbox-title span {padding:6px 0;}
#freshcategory .postbox .inside	{clear:both;padding:0 10px;}

#freshcategory #select-category .howto select	{width:100%;}

#freshcategory #select-category .button-controls	{text-align:right; clear:both; margin:10px 0;}

#freshcategory ul#cat-list	{ padding-top: 10px;}
#freshcategory ul#cat-list li	{ clear: both; }
#freshcategory ul#cat-list li .cat_name	{ width: 100px; padding: 8px 10px; margin: 0 5px 10px 0; background:url("gray-grad.png") repeat-x #DFDFDF; cursor: pointer; font-size: 11px; color: #444444; font-weight: bold; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; float: left; }
#freshcategory ul#cat-list li .cat_name:hover	{color:#21759B;}
#freshcategory ul#cat-list li .cat_name_active	{ background:url("gray-grad-active.png") repeat-x #595959; color: #FFFFFF; text-shadow: 0 1px 0px #000000;}
#freshcategory ul#cat-list li .cat_name_active:hover	{ color: #FFFFFF;}
#freshcategory ul#cat-list li .cat_apply	{ width: 20px; padding: 8px 4px 9px 6px; background:url("gray-grad.png") repeat-x #DFDFDF; cursor: pointer; font-size: 11px; color: #444444; font-weight: bold; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; float: left;}
#freshcategory ul#cat-list li .cat_apply:hover	{ background:url("gray-grad-active2.png") repeat-x ; color: #FFFFFF; }
#freshcategory ul#cat-list li .cat_apply_icon	{ background:url("wand_arrow.png") no-repeat center center; width: 16px; height: 16px; }
.freshcategory_tooltip {position:absolute; background:pink; z-index:9; width:191px; display:none; padding: 8px 10px; margin: 0 5px 10px 0; background:url("gray-grad.png") repeat-x #DFDFDF; cursor: pointer; font-size: 10px; color: #444444; line-height:15px; text-shadow:0 1px #ffffff; -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5); box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5); -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;}
#cat_apply_icon_tooltip	{ background: black; color: #FFFFFF; padding: 20px; position: absolute; top:100px; left: 100px; z-index: 99px; display: none; }

#freshcategory .cat-list-0	{ margin-left: 0px;}
#freshcategory .cat-list-1	{ margin-left: 20px;}
#freshcategory .cat-list-2	{ margin-left: 40px;}
#freshcategory .cat-list-3	{ margin-left: 60px;}
#freshcategory .cat-list-4	{ margin-left: 80px;}
#freshcategory .cat-list-5	{ margin-left: 100px;}
#freshcategory .cat-list-6	{ margin-left: 100px;}
#freshcategory .cat-list-7	{ margin-left: 100px;}
#freshcategory .cat-list-8	{ margin-left: 100px;}
#freshcategory .cat-list-9	{ margin-left: 100px;}

/* RIGHT COLUMN */
#freshcategory #right-column	{float:left;min-width:100%; padding: 10px 0 60px 0; display:none;}
#freshcategory #right-column hr	{ display: none;}
#freshcategory #right-column .postbox h4	{ border-top: 1px solid #d5d5d5; margin: 5px 0; padding: 10px 0;}


#freshcategory #category-options, #freshcategory #single-options	{position:relative; margin-right:20px; width:100%; padding: 15px 0 15px 0; min-height: 0;}
#freshcategory .category-options-body-wrapper	{margin-bottom:20px;}

#freshcategory .nav-menu-header	{ -moz-border-radius-topleft:6px;-webkit-border-top-left-radius:6px;-khtml-border-top-left-radius:6px;border-top-left-radius:6px;-moz-border-radius-topright:6px;-webkit-border-top-right-radius:6px;-khtml-border-top-right-radius:6px;border-top-right-radius:6px;}

#freshcategory .nav-menu-title	{ font-size: 12px; color: #333333; font-weight: bold; clear:both; padding:7px 10px; text-shadow: 0 1px 0 #FFFFFF;}

#freshcategory .nav-tabs-wrapper	{ padding: 0 0 15px 0;}
#freshcategory .sidebar_option_wrapper	{ padding: 0 0 15px 0;}

#freshcategory .select_name	{ padding:6px 20px 0 0; float: left; font-size: 11px;}
#freshcategory .select_button	{  float: left; margin-right: 10px; -moz-border-radius: 99px; -webkit-border-radius: 99px; border-radius: 99px; border: 1px solid #BBB; background: url("white-grad.png") repeat-x #F2F2F2; cursor: pointer; padding: 6px 30px; font-size: 11px; text-align: center; color: #464646;   }
#freshcategory .select_button:hover	{ border: 1px solid #555555; }

#freshcategory .nav-tabs-wrapper .nav-tabs span:hover	{ border: 1px solid #555555; }
#freshcategory .nav-tab-active	{background:url("gray-grad-active.png") repeat-x #595959; border: 1px solid #555555; color: #FFFFFF; text-shadow: 0 1px 0px #000000;}



#freshcategory .category-options-body	{background:#fff;-moz-border-radius-bottomleft:6px;-webkit-border-bottom-left-radius:6px;-khtml-border-bottom-left-radius:6px;border-bottom-left-radius:6px;-moz-border-radius-bottomright:6px;-webkit-border-bottom-right-radius:6px;-khtml-border-bottom-right-radius:6px;border-bottom-right-radius:6px;}
#freshcategory .category-options-body-content	{position:relative; border: 1px solid #CCC;}


#freshcategory ul.templates_wrapper	{ padding: 15px 0 0 0; border-top: 1px solid #d5d5d5;}
#freshcategory ul.templates_wrapper li	{ float: left; margin: 0 10px 20px 0; background: #FFF; border: 1px solid #CCC; -moz-border-radius:0 0 6px 6px; -webkit-border-radius: 0 0 6px 6px; border-radius: 0 0 6px 6px; -moz-box-shadow: 0 1px 4px #CCC; border-radius: 6px; }
#freshcategory ul.templates_wrapper li a	{ display: block;}
#freshcategory ul.templates_wrapper li img	{ cursor: default;}
#freshcategory ul.templates_wrapper li img:hover	{}
#freshcategory ul.templates_wrapper li label	{border-top: 1px solid #CCC; }
#freshcategory ul.templates_wrapper li label:hover	{background: #EEE; }


#freshcategory .select_template_value	{ display:block; padding: 9px 20px 3px 20px; text-align: center; background: url("gray-grad-active.png") repeat-x scroll 0 0 #595959; font-size: 9px; font-weight: bold; text-transform: uppercase; color: #ffffff; text-shadow: 0 1px 1px #111111; }
#freshcategory .templates_wrapper label:hover .select_template_value	{ /*text-shadow: 0 0 5px #00d2ff;*/  text-shadow: 0 -1px 1px #111111; color: #ccc; }
#freshcategory .select_template_radio	{ display:block; padding: 0 20px 15px 20px; text-align: center; background: #595959; -moz-border-radius:0 0 6px 6px; -webkit-border-radius: 0 0 6px 6px; border-radius: 0 0 6px 6px;}

#freshcategory .sidebar_option_wrapper	{ width: 100%;}
/*#freshcategory #blog-subnav-left, #freshcategory #blog-subnav-right, #freshcategory #blog-subnav-no, #freshcategory #portfolio-subnav-left, #freshcategory #portfolio-subnav-right, #freshcategory #portfolio-subnav-no	{ padding: 20px 0; float: left; text-align: center;}
#freshcategory #blog-subnav-left, #freshcategory #portfolio-subnav-left	{background: #CCC; width: 33%;}
#freshcategory #blog-subnav-right, #freshcategory #portfolio-subnav-right	{background: #BBB; width: 34%;}
#freshcategory #blog-subnav-no, #freshcategory #portfolio-subnav-no	{background: #AAA; width: 33%;}
*/

/* default display */
#category-blog	{display: block;}
#category-portfolio	{display: none;}
#freshcategory #category-blog-left	{display: block;}
#freshcategory #category-blog-right	{display: none;}
#freshcategory #category-blog-no	{display: none;}
#freshcategory #category-portfolio-left	{display: block;}
#freshcategory #category-portfolio-right	{display: none;}
#freshcategory #category-portfolio-no	{display: none;}

#single-blog	{display: block;}
#single-portfolio	{display: none;}
#freshcategory #single-blog-left	{display: block;}
#freshcategory #single-blog-right	{display: none;}
#freshcategory #single-blog-no	{display: none;}
#freshcategory #single-portfolio-left	{display: block;}
#freshcategory #single-portfolio-right	{display: none;}
#freshcategory #single-portfolio-no	{display: none;}


/* POST META */

#post-meta	{ }
#post-meta li	{ float:left; padding:10px 15px 10px 0;}
#post-meta li label	{cursor: pointer;}
#post-meta li input	{ margin:3px; padding:3px;}


/* bg image */
#freshcategory .nav-menu-header, .menu-item-handle	{ background:url("gray-grad.png") repeat-x scroll left top #DFDFDF;}

/* CATEGORY AND SINGLE OPTIONS STYLES */
ul#category-options-additional, ul#single-options-additional	{ padding: 20px 0; }
ul#category-options-additional li, ul#single-options-additional li	{ width: 20%; min-width: 200px; margin-right: 1%; float: left;}
#cat_ppp	{ width: 30px; padding-right: 10px;}
ul#category-options-additional li input, ul#single-options-additional li input	{ margin-right: 5px;}















































