.drop-caps {
	float: left;
    font-size: 650%;
    font-weight: 700;
    line-height: 0.8em;
    margin-right: 0.2em;
	margin-bottom: 0.1em;
    position: relative;
    text-transform: uppercase;
    top: 4px;
}
.drop-caps-bg {
    background-color: #444444;
    border-radius: 2em 2em 2em 2em;
    color: #EFEFEF;
    font-size: 350%;
    margin-right: 0.4em;
    padding: 0.5em 0.4em 0.55em;
    text-align: center;
    width: 60px;
}
