/*#slider-4	{ width: 940px; height: 470px; padding: 20px 10px 20px 10px;}
#slider-content { width: 940px; height: 470px; position:relative; overflow:hidden;}
#slider-4 .cube {width:157px; height:157px;  position:absolute; overflow:hidden; }
#slider-4 .inner_a  {width:157px; height:157px;z-index:2;position:absolute;}
#slider-4 .inner_b  {width:157px; height:157px;z-index:1; position:absolute;}
#slider-4 .cube_button_right {width:156px; height:156px;  position:absolute; }

#slider-4 .info_line {position:absolute; z-index:2; right: 0; top: 46%; background-color: red;}
#slider-4 .info_line a {font-family: Helvetica Neue, Helvetica, Arial; font-weight: bold; font-size: 26px; letter-spacing: -1px; text-decoration: none; text-transform: uppercase; line-height: 40px; display: block; width: 940px; text-align: center;}
#slider-4 .cube_button_right {left:785px;top:157px; z-index:2; cursor:pointer; background: none !important;}
#slider-4 .cube_right_arrow {left:785px; top:157px; position:absolute; z-index:2; width:156px; height:156px; cursor:pointer;}
#slider-feed {display:none;}
*/


#slider-3	{ width: 942px; padding: 20px 10px 20px 10px;}
#slider-3 ul	{ list-style: none; margin: 0;}
#slider-3 ul li	{ float: left; position: relative; text-align: center; /*background: #f20f07;*/}
#slider-3 ul li a	{ text-decoration: none; display: block;}
#slider-3 ul li .slide_name	{ font-size: 14px; position: relative; top: 40%; font-weight: bold; }
#slider-3 ul li .slide_more	{ font-size: 11px; position: relative; top: 37%; }
#slider-3 ul li img	{ display: block; position: absolute; top: 0; left: 0;/* -webkit-transition-property:opacity; -webkit-transition-duration: 0.2s; -webkit-transition-timing-function: ease-out; -moz-transition-property:opacity; -moz-transition-duration: 0.2s; -moz-transition-timing-function: ease-out; -o-transition-property:opacity; -o-transition-duration: 0.2s; -o-transition-timing-function: ease-out;*/}



/*#slider-content { width: 940px; position:relative;}
/*
#slider-content slider_hiding_holder { width: 940px; height: 470px; position:relative;}
#slider-3 .cube {width:157px; height:157px;  position:absolute; overflow:hidden; }
#slider-3 .inner_a  {width:157px; height:157px;z-index:2;position:absolute;}
#slider-3 .inner_b  {width:157px; height:157px;z-index:1; position:absolute;}

#slider-3 .info_line {position:absolute; z-index:2; right: 0; bottom:134px; text-align: right;}
#slider-3 .info_line a {font-weight: bold; font-size: 47px; letter-spacing: -2px; text-decoration: none; text-transform: uppercase; line-height: 32px; padding: 0 8px; -moz-border-radius: 2px 0 0 2px; -webkit-border-radius: 2px 0 0 2px; border-radius: 2px 0 0 2px;  }

#slider-3 .cube_button_left { display:none; /*left:0px; top:157px; z-index:2; cursor:pointer; width:156px; height:156px; position:absolute;*/ /*}
#slider-3 .cube_left_arrow {left:-30px; top:220px; position:absolute; z-index:2; width:30px; height:30px; cursor:pointer;}
#slider-feed {display:none;}

#slider-3 .cube_button_right { display:none; /*right:0px; top:157px; z-index:2; cursor:pointer; width:156px; height:156px;  position:absolute; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; *//*}
#slider-3 .cube_right_arrow {right:-30px; top:220px; position:absolute; z-index:2; width:30px; height:30px; cursor:pointer;}
#slider-feed {display:none;}

#slider-3 .slider_nav	{ list-style: none; z-index: 2; position: absolute; bottom: 112px; right: 0px; padding: 1px 9px 8px 15px; margin: 0; background-repeat: no-repeat; background-position: top left;}
#slider-3 .slider_nav li	{ float: left; width: 9px; height: 9px; -moz-border-radius: 99px; -webkit-border-radius: 99px; border-radius: 99px; background: rgba(255,255,255,0.5); text-indent: -9999px; margin-right: 10px; cursor: pointer;}
#slider-3 .slider_nav li:last-child	{ margin: 0;}
#slider-3













 .slider_nav li.slider_nav_active, #slider-4 .slider_nav li:hover	{ background: rgba(255,255,255,1);}