@charset "utf-8";

#blog-cat-21 #post_area	{width:720px; float:right; }

#blog-cat-21 #post_wrapper	{ }
#blog-cat-21 #post_wrapper .entry { width: 700px; margin-right: 10px; margin-left: 10px; }
#blog-cat-21 #post_wrapper .entry .entry_holder {  }

#blog-cat-21 #post_wrapper .entry .post_info_holder { float: left; }
#blog-cat-21 #post_wrapper .entry .post_info { }
#blog-cat-21 #post_wrapper .entry .post_title { }

#blog-cat-21 #post_wrapper .entry .post_content { width: 220px; float: right; }

#blog-cat-21 #post_wrapper .entry .big_image_wrapper	{ float: left; }
#blog-cat-21 #post_wrapper .entry .big_image { display: block;}

#blog-cat-21 .sidebar { padding-top: 40px; }



/* POST *//*
#blog-cat-21 #cat_title_wrapper	{ width:719px;padding: 0 20px 0 0; font-size: 13px; }
#blog-cat-21 #cat_title h1	{ float: left; width:220px; padding: 58px 10px 61px 20px; font-size: 25px; line-height:24px;}
#blog-cat-21 #cat_title h1 a	{ text-decoration:none;}
#blog-cat-21 #cat_title p {float:left; padding: 65px 0 0 10px;  font-style: italic; width: 439px; }
#blog-cat-21 #post_area	{width:739px; float:right;  }

/* POST CONTENT *//*
#blog-cat-21 #post_wrapper	{ padding:42px 0 0 10px;}
#blog-cat-21 #post_wrapper .entry { width: 679px; padding: 0 20px 10px 0; margin: 0 0 2px 10px; }
#blog-cat-21 #post_wrapper .entry .post_title { font-size:25px; line-height:30px; }
#blog-cat-21 #post_wrapper .entry .post_title a { text-decoration:none; }
#blog-cat-21 #post_wrapper .entry .post_info { font-size:10px;}
#blog-cat-21 #post_wrapper .entry .post_info span	{ padding:0 8px 0 0; margin:0 5px 0 0;}
#blog-cat-21 #post_wrapper .entry .post_info_holder { float:left; }
#blog-cat-21 #post_wrapper .entry .big_image_wrapper { float:left; margin: 0 20px 18px 0; }
#blog-cat-21 #post_wrapper .entry .big_image { display: block;}
#blog-cat-21 #post_wrapper .entry .post_content {  font-size:13px; width:199px; float:right; }
#blog-cat-21 .sidebar { padding: 48px 10px 0 10px; }