@charset "utf-8";

#blog-cat-3 #post_area	{width:720px; float:left;  }

#blog-cat-3 #post_wrapper	{ }
#blog-cat-3 #post_wrapper .entry { width: 700px; margin-right: 10px; margin-left: 10px; }
#blog-cat-6 #post_wrapper .entry .entry_holder { }

#blog-cat-3 #post_wrapper .entry .post_info_holder { float:left; }
#blog-cat-3 #post_wrapper .entry .post_info { }
#blog-cat-3 #post_wrapper .entry .post_title { clear: both; }

#blog-cat-3 #post_wrapper .entry .post_content { }

#blog-cat-3 #post_wrapper .entry .big_image_wrapper	{ float: left; }
#blog-cat-3 #post_wrapper .entry .big_image { display: block;}

#blog-cat-3 .sidebar { padding-top: 40px; }








/* POST *//*
#blog-cat-3 #cat_title_wrapper	{ width:699px;padding: 0 0 0 20px; font-size: 13px; }
#blog-cat-3 #cat_title h1	{ float: left; width:220px; padding: 58px 0 61px 0; font-size: 25px; line-height:24px;}
#blog-cat-3 #cat_title h1 a	{ text-decoration:none;}
#blog-cat-3 #cat_title p {float:right; padding: 65px 20px 0 0;  font-style: italic; width: 439px; }
#blog-cat-3 #post_area	{width:719px; float:left;  }

/* POST CONTENT *//*
#blog-cat-3 #post_wrapper	{ padding:42px 0 0 10px;}
#blog-cat-3 #post_wrapper .entry { width: 679px; padding: 0 20px 12px 0; margin: 0 0 0 10px; }
#blog-cat-3 #post_wrapper .entry .post_title { font-size:25px; line-height:30px; }
#blog-cat-3 #post_wrapper .entry .post_title a { text-decoration:none; }
#blog-cat-3 #post_wrapper .entry .post_info { font-size:10px;}
#blog-cat-3 #post_wrapper .entry .post_info span	{ padding:0 8px 0 0; margin:0 5px 0 0;}
#blog-cat-3 #post_wrapper .entry .post_info_holder { float:left; }
#blog-cat-3 #post_wrapper .entry .big_image_wrapper	{ }
#blog-cat-3 #post_wrapper .entry .big_image { display: block; margin: 0 0 18px 0;}
#blog-cat-3 #post_wrapper .entry .post_content { font-size:13px; }
#blog-cat-3 .sidebar { padding: 48px 10px 0 10px; }