@charset "utf-8";
/* CSS Document */

/* MESSAGE */
#message_container	{ width: 100%;}
#message_wrapper	{ padding:0 0 20px 0; margin: 0 auto; width: 960px;}
.message	{ margin: 0 10px; padding: 20px 20px 0 20px; text-align:center; font-size: 23px; line-height: 30px; text-transform: uppercase; letter-spacing: -1px; font-weight: bold;  }
.message a	{ text-decoration:none; font-weight: bold; text-transform: uppercase; letter-spacing: -1px; padding: 0px 4px 0px 4px; margin: 0 1px; -moz-border-radius: 2px; -webkit-border-radius: 2px; -border-radius: 2px; line-height: 27px; display: inline-block;}
.message a:hover	{ text-decoration:none;}
.message_bottom_line	{ width:940px; padding: 0 0 20px 0; margin:0 auto;}
